*{
  padding: 0;
  margin: 0;
}

.title {
  font-size: 32px;
  font-family: 'HirakakuProN-W6';
  padding-left: 3%;
}

p {
  font-size: 18px;
  font-family: 'HirakakuProN-W6';
}
body{
  height: 1080px;
}
.member{
  width:95%;
  margin:0 auto;
}
.title{
  padding-top: 25px;
}
.member_top {
  width: 100%;
  padding-top: 90px;
  text-align: center;
}
.member_bottom {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.member_main{
  width:100%;
}
.profile{
  width:198px;
  padding: 0 5% 0px 5%;
  display: inline-block;
}
.profile p{
  padding-top: 30px;
  text-align: center;
}
.member_img{
  width:198px;
}

@media screen and (max-width:1417px) {
  .profile{
  padding: 0 3% 0px 3%;
  }
}
@media screen and (max-width:1120px) {
  .profile{
  width:160px;
  padding: 0 2% 0px 2%;
  }
  .member_img{
    width:160px;
  }
@media screen and (max-width:821px) {
  .profile{
  width:130px;
  padding: 0 2% 0px 2%;
  }
  .member_img{
    width:130px;
  }
  @media screen and (max-width:671px) {
    .profile{
    width:130px;
    padding: 0 7% 0px 7%;
    }
    .member_img{
      width:130px;
    }
@media screen and (max-width:387px) {
  .profile{
  padding: 0 2% 0px 2%;
  width:129.27px;
  }
  .member_img{
    width:129.27px;
  }
  .title{
    text-align: center;
  }
}
